html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background: rgb(21, 81, 4);
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  color: white;
  font-family: monospace;
}
@font-face {
  font-family: 'PixelFont';
  src: url('fonts/VT323-Regular.ttf');
}

#dialogue-box {
  font-family: 'PixelFont';
  font-size: 26px;

  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  width: 700px;
  border: 2px solid white;
  padding: 20px;

  transition: opacity 0.3s ease;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

#next-btn {
  margin-top: 10px;
}
canvas {
  outline: 4px solid #fff;
  background: black;
  display: block;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
#startgame {
  transition: background-color 0.12s ease;
}
#startgame:not(:hover) {
  background-color: #00EE00;
}
#startgame:hover {
  background-color: #008800;
}
#startgame:active {
  background-color: #AAFFAA;
}
#settings {
  transition: background-color 0.12s ease;
}
#settings:hover {
  background-color: #ddd;
}
#settings:not(:hover) {
  background-color: rgb(150, 150, 150);
}
#close-settings {
  border: 8px ridge rgb(180,0,0);
  height: 60px;
  width: 60px;
  transition: background-color 0.12s ease;
}
#close-settings:hover {
  background-color: #F77;
}
#close-settings:not(:hover) {
  background-color: rgb(255, 0, 0);
}
#achievements {
  transition: background-color 0.12s ease;
}
#achievements:hover {
  background-color: #ddd;
}
#achievements:not(:hover) {
  background-color: rgb(150, 150, 150);
}